/* HTML & CSS ============================================================================================================= */
#silon-color{
color: #FF5353;
}
#boostfolia-color{
color: #fff;
}
#dance-color{
color: #fff;
}
#snow-color{
color: #DAC1AD;
}
#merkury-color{
color: #fff;
}
#mytunes-color{
color: #D98BB8;
}
#coffee-color{
color: #fff;
}
#data-warehouse-color{
color: #9C69E2;
}
#data-warehouse-color span{
 color: #F063B8;
}
#netflix-color{
color: #E50914;
}
/* JS ============================================================================================================= */
#chatroom-color{
color: #FFBB00;
}
#password-color{
color:#DCD0FF;
}
#weather-color{
color: #fff;
}
#cart-color{
color: #FF8D06;
}
#drums-color{
color: #ffbb00;
}
#booklist-color{
color: #F5E1BF;
}
#filtered-color{
color: #fff;
}
#split-color{
color: #fdab00;
}
#bored-color{
color: #fff;
}
#airpods-color{
color: #fff;
}
#speech-color{
color: #F08080;
}
#rick-morty-color{
color: #fff;
}
/* React ============================================================================================================= */
#youfruit-color{
color: #fff;
}
#tracker-color{
color: #D3AE87;
}
#recipe-color{
color:#FF9A9E;
}
#todo-hooks-color{
color: #adadad;
}
#form-color{
color: #fff;
}
/* Animtaion ============================================================================================================= */
#glitch-color{
color: #fff;
}
#cursor-color{
color: #C85B11;
}
#neon-color{
color: #FF0000;
}
#reveal-color{
color: #00F0B5;
}
#reveal-color span{
 color: #5E239D;
}
#typewriting-color{
color: #F5DBA5;
}
#text-reveal{
color: #fff;
}
#canvas-color{
color: #fff;
}
#content-color{
color: #0152AD;
}
#dji-color{
color: #fff;
}
#preloader-color{
color: #fff;
}
#scroll-color{
color: #fff;
}
