*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}
/* ============== About Section========================================================================================= */
#about{
height: 100vh;
width: 100%;
}
.about-top{
width: 100%;
height: 50vh;
position: absolute;
background: var(--dark-section-color);
}
.about-center{
width: 65%;
height: 450px;
background: #fff;
position: absolute;
top: 50%;
left: 0;
right: 0;
margin: auto;
transform: translateY(-50%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name{
display: block;
position: absolute;
z-index: 10;
right: 50px;
top: 30px;
font-size: 60px;
color: var(--accent-color);
}
.about-headline{
font-size: 20px;
text-align: center;
width: 70%;
color: var(--accent-color);
font-weight: normal;
position: absolute;
left: 0;
right: 0;
margin: auto;
bottom: 10%;
line-height: 50px;
}
.nav{
width: 150px;
height: 100%;
position: fixed;
z-index: 10000;
background: var(--dark-color);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.nav a{
padding: 30px;
}
.btn{
width: 300px;
height: 90px;
border: 2px solid var(--accent-color);
background: none;
font-size: 28px;
position: absolute;
bottom: -200px;
left:0;
right: 0;
margin: auto;
cursor: pointer;
text-align: center;
text-decoration: none;
line-height: 90px;
color: var(--dark-section-color);
}
.avatar-img{
position: absolute;
top: -50%;
right: 0;
left: 0;
margin: auto;
border-radius: 50%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.social-icons{
position: absolute;
right: 50px;
top: 50%;
transform: translateY(-50%);
display: flex;
flex-direction: column;
}
.social-icons img{
width: 60px;
height: 60px;
margin: 30px 0;
}
/* ============== Technologies Section========================================================================================= */
.tech-headline{
font-size: 50px;
color: var(--accent-color);
}
.tech-percent{
position: absolute;
font-size: 25px;
font-weight: bolder;
right: 10%;
top: 35px;
}
.tech-progressBar{
width: 345px;
height: 15px;
margin: 20px 0 0 2px;
border: 1px solid #D3AE87;
border-radius: 10px;
}
.progressBar-filling{
height: 8px;
margin: 2.4px 0 0 2.4px;
background: var(--accent-color);
border-radius: 10px;
}
#progressBar-filling-1{
    width: 85%;
}#progressBar-filling-2{
    width: 15%;
}#progressBar-filling-3{
    width: 50%;
}#progressBar-filling-4{
    width: 85%;
}#progressBar-filling-5{
    width: 30%;
}#progressBar-filling-6{
    width: 80%;
}#progressBar-filling-7{
    width: 60%;
}#progressBar-filling-8{
    width: 10%;
}#progressBar-filling-9{
    width: 60%;
}
/* ============== Experience Section========================================================================================= */
#experience{
background: url(../img/section-bckg/black-white.png);
}
.experience-wrap{
width: 90%;
margin: 80px auto;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
}
.experience-dot{
width: 20px;
height: 20px;
position: absolute;
border-radius: 50%;
background: var(--accent-color);
top:0;
left: -11px;
}
.experience-dot-top{
right: -12px;
left: auto;
}
.experience-block-bottom{
position: relative;
padding: 0 40px 0 40px;
color: var(--accent-color);
}
.experience-block-border{
border-right: 2px solid var(--accent-color);
text-align: right;
color: var(--dark-section-color);
}
.experience-headline{
font-size: 45px;
font-weight: 300;
}
.experience-headline-right{
padding-top: 15px;
}
.experience-date{
font-size: 30px;
font-weight: 500;
margin: 20px 0;
}
.experience-description{
font-size: 20px;
font-weight: 300;
margin-left: 20%;
}
.experience-description-right{
margin-left: 0;
}
/* ============== Education Section========================================================================================= */

#education{
background: url(../img/section-bckg/black-white-reversed.png);
}
.light-text{
color: var(--accent-color);
}

/* ============== Contact Section========================================================================================= */
.contact{
width: 40%;
margin: 200px auto;
}
.contact p{
font-size: 40px;
font-weight: 300;
}
.contact input{
width: 100%;
height: 60px;
border: none;
border-bottom: 1px solid var(--dark-section-color);
margin-bottom: 40px;
outline: none;
font-size: 30px;
font-weight: 300;
}
.contact-btn{
font-size: 22px;
margin-top: 50px;
position: static;
}
/* FOOTER */
#footer{
display: flex;
justify-content: center;
padding: 30px 0;
}
.footer-icons a img{
width: 40px;
height: 40px;
margin: 0 10px;
}
/* ============== Utility Classes ========================================================================================= */
section:not(:first-child){
padding: 100px 0;
}
#tech,#html, #react, #certificate, #footer{
background: var(--dark-section-color);
}
.container{
width: 90%;
margin: 0 auto;
}
.section-headline{
text-align: right;
font-size: 60px;
text-transform: uppercase;
color: var(--accent-color);
font-weight: 300;
}
.items-wrap{
width: 100%;
margin-top: 60px;
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
}
.items-s{
width: 400px;
height: 140px;
display: block;
background: #343334;
margin: 0 0 120px 120px;
border-radius: 10px;
padding: 10px 0 0 15px;
box-shadow: 0 20px 60px rgba(0,0,0,0.5);
position: relative;
}
.items-m{
width: 350px;
height: 400px;
padding: 0;
margin-left: 40px;
display: flex;
}
.items-m-img{
margin: auto;
}
.items-l{
width: 450px;
height: 400px;
margin-left: 40px;
}
.section-number{
text-transform: uppercase;
color: var(--accent-color);
text-align: right;
font-size: 60px;
font-weight: 300;
}
.triangle-bg{
background-size:  calc(100% - 150px) 100%;
background-position: right;
}
span{
color: #ADADAD;
}
#netflix{
background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/projects/netflix/netflix-bckg.png);
background-size: cover;
}
