*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}
body, a{
cursor: none;
overflow-x: hidden;
}
/* ============== About Section========================================================================================= */
#about{
height: 100vh;
width: 100%;
}
.about-top{
width: 100%;
height: 50vh;
position: absolute;
background: var(--dark-section-color);
}
.about-center{
width: 65%;
height: 450px;
background: #fff;
position: absolute;
top: 50%;
left: 0;
right: 0;
margin: auto;
transform: translateY(-50%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name{
display: block;
position: absolute;
z-index: 1;
right: 50px;
top: 30px;
font-size: 3vw;
color: var(--accent-color);
}
.name-inside{
display: none;
}
.about-headline{
font-size: 1.2vw;
text-align: center;
width: 90%;
color: var(--accent-color);
font-weight: normal;
position: absolute;
left: 0;
right: 0;
margin: auto;
bottom: 10%;
line-height: 50px;
}
.nav{
width: 150px;
height: 100%;
position: fixed;
z-index: 2;
background: var(--dark-color);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.nav a{
padding: 20px;
overflow-y: hidden;
}
.nav a img{
width: 50px;
}
.btn{
width: 16vw;
height: 4.7vw;
border: 2px solid var(--accent-color);
background: none;
font-size: 1.5vw;
position: absolute;
bottom: -150px;
left:0;
right: 0;
margin: auto;
cursor: pointer;
text-align: center;
text-decoration: none;
line-height: 4.7vw;
color: var(--dark-section-color);
cursor: none;
overflow: hidden;
}
.avatar-img{
position: absolute;
top: -50%;
right: 0;
left: 0;
margin: auto;
border-radius: 50%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.social-icons{
position: absolute;
right: 50px;
top: 50%;
transform: translateY(-50%);
display: flex;
flex-direction: column;
}
.social-icons img{
width: 60px;
height: 60px;
margin: 30px 0;
}
.social-icons-phone{
display: none;
}
/* ============== Technologies Section========================================================================================= */
#items-wrap-tech{
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 40px;
}
.tech-headline{
font-size: 2.5vw;
margin: 1vw 0 0 1vw;
color: var(--accent-color);
}
.tech-percent{
position: absolute;
font-size: 1.25vw;
right: 1vw;
top: 1.2vw;
}
.tech-progressBar{
width: 90%;
height: 15px;
margin: 0.5vw auto;
border: 1px solid #D3AE87;
border-radius: 10px;
}
.progressBar-filling{
height: 8px;
margin: 2.4px 0 0 2.4px;
background: var(--accent-color);
border-radius: 10px;
}
#progressBar-filling-1{
    width: 85%;
}#progressBar-filling-2{
    width: 15%;
}#progressBar-filling-3{
    width: 50%;
}#progressBar-filling-4{
    width: 85%;
}#progressBar-filling-5{
    width: 30%;
}#progressBar-filling-6{
    width: 80%;
}#progressBar-filling-7{
    width: 60%;
}#progressBar-filling-8{
    width: 10%;
}#progressBar-filling-9{
    width: 60%;
}
/* ============== Experience Section========================================================================================= */
#experience{
background: url(../img/section-bckg/black-white.png);
background-size: calc(100% - 150px) 100%;
background-position: right;
}
.experience-wrap{
width: 90%;
margin: 80px auto;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
}
.experience-dot{
width: 20px;
height: 20px;
position: absolute;
border-radius: 50%;
background: var(--accent-color);
top:0;
left: -11px;
}
.experience-dot-top{
right: -12px;
left: auto;
}
.experience-block-bottom{
position: relative;
padding: 0 40px 0 40px;
color: var(--accent-color);
}
#education-grid-bottom-right{
color: var(--dark-section-color);
}
#experience-block-bottom{
color: var(--dark-section-color);
}
.experience-block-border{
border-right: 2px solid var(--accent-color);
text-align: right;
color: var(--dark-section-color);
}
.experience-headline{
font-size: 2.4vw;
font-weight: 300;
}
.experience-headline-right{
padding-top: 15px;
}
.experience-date{
font-size: 1.6vw;
font-weight: 500;
margin: 20px 0;
}
.experience-description{
font-size: 1.1vw;
font-weight: 300;
margin-left: 20%;
}
.experience-description-right{
margin-left: 0;
}
/* ============== Education Section========================================================================================= */

#education{
background: url(../img/section-bckg/black-white-reversed.png);
background-size: calc(100% - 150px) 100%;
background-position: right;
}
.light-text{
color: var(--accent-color);
}

/* ============== Contact Section========================================================================================= */
.contact{
width: 40%;
margin: 200px auto;
display: block;
}
.contact p{
font-size: 2.5vw;
font-weight: 300;
}
.contact input{
width: 100%;
height: 60px;
border: none;
border-bottom: 1px solid var(--dark-section-color);
margin-bottom: 40px;
outline: none;
font-size: 30px;
font-weight: 300;
}
.contact-btn{
font-size: 1.2vw;
margin-top: 50px;
position: static;
}
/* FOOTER */
#footer{
display: flex;
justify-content: center;
padding: 30px 0;
}
.footer-icons a img{
width: 40px;
height: 40px;
margin: 0 10px;
}
/* ============== Utility Classes ========================================================================================= */
section:not(:first-child){
padding: 100px 0;
}
#tech,#html, #react, #certificate, #footer{
background: var(--dark-section-color);
}
.container{
width: 90%;
margin: 0 auto;
}
.section-headline{
text-align: right;
font-size: 3vw;
text-transform: uppercase;
color: var(--accent-color);
font-weight: 300;
}
.items-wrap{
margin: 60px 0 60px 150px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 40px;
}
.items-wrap a{
background-size: 100% 100%;
}
.items-s{
height: 7.5vw;
display: block;
background: #343334;
border-radius: 10px;
box-shadow: 0 20px 60px rgba(0,0,0,0.5);
position: relative;
}
.items-m{
height: 21vw;
padding: 0;
display: flex;
transition: all 0.5s cubic-bezier(0.25, 1, 0.3,1);
border-radius: 10px;
box-shadow: 0 20px 60px rgba(0,0,0,0.5);
background: #343334;
}
.items-m:hover{
transform: scale(1.1);
}
.items-m-img{
margin: auto;
width: 80%;
}
#dji-img{
width: 30%;
}
#silon-img{
width: 50%;
}
.items-l{
height: 21vw;
display: flex;
padding: 0;
background: #343334;
border-radius: 10px;
box-shadow: 0 20px 60px rgba(0,0,0,0.5);
}
#items-wrap-certificate{
grid-template-columns: 1fr 1fr 1fr;
}
.items-l img{
width: 90%;
height: 87%;
margin: auto;
}
.section-number{
text-transform: uppercase;
color: var(--accent-color);
text-align: right;
font-size: 3vw;
font-weight: 300;
}
span{
color: #ADADAD;
}

/* ================= MEDIA ====================================================================================== */
@media only screen and (max-width: 1440px){
/* About section     */
.nav {
width: 100px;
}
.nav a img{
width: 40px;
height: 40px;
}
.about-center{
height: 380px;
}
.about-headline{
font-size: 1.4vw;
}
.avatar-img{
width: 350px;
}
.social-icons img{
width: 40px;
height: 40px;
}
.btn {
bottom: -150px;
}
/* Experience section     */
#experience{
background-size: calc(100% - 100px) 100%;
}
/* Education section     */
#education{
background-size: calc(100% - 100px) 100%;
}
/* Utility classes */
.items-wrap{
grid-gap: 20px;
}
.items-l{
display: flex;
padding: 0;
}
}
@media only screen and (max-width: 1280px){
.btn{
width: 25vw;
}
.footer-icons a img{
width: 30px;
height: 30px;
}
.items-wrap{
margin: 60px 0 60px 100px;
}
}
@media only screen and (max-width: 1024px){
/* Custom cursor     */
.cursor, .cursor-follower{
display: none;
}
/* About section */
#about{
height: 85vh;
}
.about-top{
height: 42.5vh;
}
.about-center, .social-icons {
top: 40%;
transform: translateY(-40%);
}
.about-center{
width: 75%;
height: 260px;
}
.avatar-img{
width: 250px;
}
.about-headline {
font-size: 1.6vw;
line-height: 30px;
}
.social-icons{
right: 30px;
}
.social-icons img {
width: 30px;
height: 30px;
margin: 15px 0;
}
.btn {
bottom: -100px;
}

/* Tech section */
.tech-headline{
font-size: 3vw;
margin: 2.2vw 0 0 1.3vw;
}
.tech-percent{
font-size: 2vw;
}
.tech-progressBar{
height: 10px;
margin: 1.5vw auto;
}
.progressBar-filling {
height: 4px;
margin: 2px 0 0 2px;
}
/* Experience section */
#experience {
background-size: 100% 100%;
}
.experience-wrap{
width: 100%;
}
.experience-headline {
font-size: 4vw;
}
.experience-date {
font-size: 3.1vw;
}
.experience-description {
font-size: 2vw;
margin-left: 10%;
}
.experience-description-right{
margin-left: 0;
}
/* Education */
#education {
background-size: 100% 100%;
}
/* Contact section */
.contact {
width: 60%;
margin: 100px auto 50px;
}
/* Utility classes */
section:not(:first-child) {
padding: 50px 0;
}
.section-headline {
font-size: 4.5vw;
}
.section-headline, .section-number {
font-size: 4.5vw;
}
.items-wrap {
grid-template-columns: 1fr 1fr 1fr;
}
#items-wrap-certificate{
grid-template-columns: 1fr 1fr;
}
#items-wrap-tech{
grid-gap: 30px;
}
.items-s{
height: 10vw;
}
.items-m{
height: 29vw;
}
.items-m:hover{
transform: scale(1);
}
.items-l{
height: 31vw;
}
}
@media only screen and (max-width: 768px){
.btn, .contact-btn{
font-size: 2vw;
line-height: 4.3vw;
}
.contact-btn{
width:28vw ;
}
.items-wrap {
margin: 60px 0 60px 0;
}
/* New nav */
.nav{
padding-top: 80px;
transform: translateX(-100%);
transition: transform 0.5s ease-in;
}
.nav a{
padding: 15px 0;
overflow-y: hidden;
}
.nav-active{
transform: translateX(0);
}
.nav-burger{
position: fixed;
z-index: 5;
top: 15px;
left: 25px;
width: 50px;
height: 50px;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 15.5px 12.5px;
align-items: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50%;
background: var(--dark-color);
}
.toggle .burger-line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .burger-line2{
opacity: 0;
}
.toggle .burger-line3{
transform: rotate(45deg) translate(-5px,-6px);
}
.burger-line{
width: 25px;
height: 3px;
background-color: var(--accent-color);
transition: all 0.3s ease;
border-radius: 10px;
}
}
@media only screen and (max-width: 640px){
.about-top {
height: 35vh;
}
.about-center {
width: 90%;
height: 230px;
background-color: #343334;
border-radius: 10px;
top: 30%;
transform: translateY(-30%);
}
.avatar-img{
width: 200px;
}
.about-headline {
font-size: 2vw;
line-height: 20px;
color: var(--accent-color);
}
.name {
display: none;
}
.name-inside{
text-align: center;
position: absolute;
display: block;
top: 45%;
left: 0;
right: 0;
margin: auto;
color: var(--accent-color);
font-size: 4.5vw;
}
.social-icons{
flex-direction: row;
justify-content: center;
top: 52%;
left: 0;
right: 0;
margin: auto;
}
.social-icons-pc{
display: none;
}
.social-icons-phone{
display: block;
}
.social-icons img{
margin: 0 10px;
}
.btn{
width: 40vw;
height: 6vw;
line-height: 5.3vw;
font-size: 3vw;
bottom: -130px;
}
/* Tech section */
.tech-headline {
font-size: 4.5vw;
margin: 3.2vw 0 0 2vw;
}
.tech-percent {
right: 2.5vw;
top: 2.1vw;
font-size: 2.5vw;
}
/* Experience section */
.experience-wrap{
margin: 30px auto 40px;
}
.experience-block-bottom{
padding: 0 0 0 20px;
}
.experience-block-border{
padding: 0 20px 0 0;
}
.experience-description{
margin-left: 0;
font-size: 3vw;
}
/* Utility classes */
.items-wrap{
grid-template-columns: 1fr 1fr;
}
#items-wrap-tech{
grid-template-columns: 1fr 1fr;
}
#items-wrap-certificate{
grid-template-columns: 1fr;
}
.items-m {
    height: 48vw;
}
.items-l {
    height: 65vw;
}
.items-s{
height: 15vw;
}
.section-headline, .section-number {
font-size: 5vw;
}
}
@media only screen and (max-width: 425px){
/* About section */
#about {
height: 100vh;
}
.about-top {
height: 50vh;
}
.about-center {
top: 50%;
transform: translateY(-50%);
height: 300px;
}
.about-headline {
font-size: 3.5vw;
bottom: 10px;
}
.avatar-img{
top: -35%;
}
.name-inside {
top: 35%;
font-size: 7vw;
}
.social-icons {
top: 72vh;
}
.btn {
width: 180px;
height: 60px;
line-height: 60px;
font-size: 20px;
bottom: -20vh;
}

/* Tech section */
.tech-headline {
font-size: 6vw;
margin: 3.2vw 0 0 4.5vw;
}
.tech-percent {
right: 4.5vw;
font-size: 4vw;
}
.tech-progressBar {
margin: 2vw auto;
}
/* Experience section */
.experience-headline {
font-size: 5vw;
}
.experience-date {
font-size: 3.7vw;
}
.experience-description {
font-size: 4vw;
}
/* Contact section */
.contact {
width: 90%;
}
.contact input{
height: 40px;
font-size: 20px;
}
.contact p{
font-size: 4.5vw;
}
.contact-btn{
font-size: 3.5vw;
}
/* Utility classes */
#items-wrap-tech{
grid-template-columns: 1fr;
grid-gap: 20px;
}
.section-headline, .section-number {
font-size: 7vw;
}
.items-s{
height: 20vw;
}
}
@media only screen and (max-width: 375px){
.social-icons{
top: 74vh;
}
}
@media only screen and (max-width: 320px){
    .about-center{
    width: 95%;
    }
    .items-wrap{
    grid-template-columns: 1fr;
    }
    .items-m{
    height: 100vw;
    }
    }
