*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}
body, a{
cursor: none;
overflow-x: hidden;
}
/* Navbar ==================================================================================================================================== */
.nav{
width: 150px;
height: 100%;
position: fixed;
z-index: 2;
background: var(--dark-color);
flex-direction: column;
}
.nav a{
padding: 15px;
overflow-y: hidden;
}
.nav a img{
width: 45px;
}
/* ============== About Section========================================================================================= */
#about{
background: url(../img/section-bckg/about-bg.png)center/cover;
padding: 300px 0;
}
#about:before{
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
}
.name{
position: absolute;
z-index: 1;
right: 50px;
top: 30px;
color: var(--accent-color);
}
.name-phone{
display: none;
}
#social-icons-mobile{
display: none;
}
.social-icons{
width: fit-content;
display: flex;
flex-direction: column;
margin: 0 50px 0 auto;
}
.social-icons img{
width: 60px;
height: 60px;
margin: 30px 0;
}
.about-wrap{
grid-template-columns: 1fr 4fr 1fr;
display: inline-block;
vertical-align: middle;
}
.about-center{
width: 100%;
min-width: 1070px;
max-width: 1300px;
background: var(--items-bg);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding: 20px 0;
position: relative;
margin: auto;
}
.avatar-img{
width: 450px;
display: block;
margin: -225px auto 30px;
border-radius: 50%;
box-shadow: 0 20px 60px rgba(0,0,0,0.5);
}
.about-headline{
text-align: center;
height: auto;
width: 95%;
margin: 0 auto;
color: var(--accent-color);
line-height: 50px;
}
.btn{
width: 300px;
height: 90px;
border: 2px solid var(--accent-color);
background: none;
font-size: 25px;
position: absolute;
bottom: -140px;
left: 0;
right: 0;
margin: auto;
text-align: center;
text-decoration: none;
color: var(--dark-section-color);
overflow: hidden;
}
.btn:hover{
background: var(--dark-section-color);
color: var(--accent-color);
border: none;
}
/* ============== Technologies Section========================================================================================= */
#items-wrap-tech{
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 40px;
}
.tech-desc-wrap{
width: 90%;
}
.tech-headline{
color: var(--accent-color);
}
.tech-progressBar{
height: 15px;
border: 1px solid #D3AE87;
border-radius: 10px;
margin-top: 20px;
}
.progressBar-filling{
height: 8px;
margin: 2.4px 0 0 2.4px;
background: var(--accent-color);
border-radius: 10px;
}
#progressBar-filling-1{
    width: 85%;
}#progressBar-filling-2{
    width: 15%;
}#progressBar-filling-3{
    width: 60%;
}#progressBar-filling-4{
    width: 85%;
}#progressBar-filling-5{
    width: 60%;
}#progressBar-filling-6{
    width: 80%;
}#progressBar-filling-7{
    width: 70%;
}#progressBar-filling-8{
    width: 40%;
}#progressBar-filling-9{
    width: 60%;
}
/* ============== Experience Section========================================================================================= */
#experience{
background: url(../img/section-bckg/black-white.png) right/calc(100% - 150px) 100%;
}
.experience-wrap{
width: 90%;
margin: 80px auto;
grid-template-columns: 1fr 1fr;
}
#experience-grid-top-left, #education-grid-top-left{
padding-bottom: 100px;
}
.experience-dot{
width: 20px;
height: 20px;
position: absolute;
top:0;
left: -11px;
border-radius: 50%;
background: var(--accent-color);
}
.experience-dot-top{
right: -11px;
left: auto;
}
.experience-block-bottom{
position: relative;
padding: 0 40px 0 40px;
color: var(--accent-color);
}
#experience-block-bottom{
color: var(--dark-section-color);
}
.experience-block-border{
border-right: 2px solid var(--accent-color);
text-align: right;
color: var(--dark-section-color);
}
.experience-headline{
font-weight: 300;
margin-top: -12px;
}
.experience-headline-right{
padding-top: 15px;
}
.experience-date{
margin: 20px 0;
}
.experience-description{
font-weight: 300;
margin-left: 20%;
}
.experience-description-right{
margin-left: 0;
}
/* ============== Education Section========================================================================================= */
#education{
background: url(../img/section-bckg/black-white-reversed.png) right/calc(100% - 150px) 100%;
}
.light-text{
color: var(--accent-color);
}
#education-grid-bottom-right{
color: var(--dark-section-color);
}
/* ============== Certificate Section========================================================================================= */
#items-wrap-certificate{
grid-template-columns: 1fr 1fr 1fr;
}
/* Footer =========================================================================================================================================*/
#footer{
padding: 30px 0;
}
.footer-icons a img{
width: 40px;
height: 40px;
margin: 0 10px;
}
/* ============== Utility Classes ========================================================================================= */
section{
padding: 100px 0;
}
#tech,#html, #react, #animation, #certificate, #footer{
background: var(--dark-section-color);
}
.container{
width: 90%;
margin: 0 auto;
}
.flex-container{
display: flex;
justify-content: space-between;
}
.flex-container-center{
display: flex;
justify-content: center;
}
.grid-container{
display: grid;
}
.align-center{
align-items: center;
}
.text-sm{
font-size: 22px;
}
.text-md{
font-size: 25px;
}
.text-lg{
font-size: 35px;
}
.text-xl{
font-size: 45px;
}
.text-project{
font-size: 2.5vw;
}
.section-headline{
text-align: right;
text-transform: uppercase;
color: var(--accent-color);
font-weight: 300;
}
.section-number{
text-transform: uppercase;
color: var(--accent-color);
text-align: right;
font-weight: 300;
}
span{
color: #ADADAD;
}
.github-link{
background: #fff;
box-shadow: 0 20px 60px rgba(0,0,0,0.5);
border-radius: 50%;
width: 3vw;
height: 3vw;
position: absolute;
z-index: 1000000;
bottom: 20px;
right: 20px;
outline: none;
}
.github-link img{
display: block;
width: 100%;
height: 100%;
}
.item-m-overlay{
position:absolute;
left:0;
top:0;
bottom:0;
right:0;
}
.items-wrap{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 40px;
margin: 60px 0 60px 150px;
}
.items-s{
padding: 20px 0;
background: var(--items-bg);
border-radius: 10px;
box-shadow: 0 20px 60px rgba(0,0,0,0.5);
}
.items-m{
height: 21vw;
border-radius: 10px;
box-shadow: 0 20px 60px rgba(0,0,0,0.5);
background: var(--items-bg);
text-decoration: none;
transition: all 0.5s cubic-bezier(0.25, 1, 0.3,1);
position: relative;
}
.items-m p{
text-transform: uppercase;
font-weight: 600;
text-align: center;
}
.items-m:hover{
transform: scale(1.1);
}
.items-l{
padding: 25px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
background: var(--items-bg);
box-shadow: 0 20px 60px rgba(0,0,0,0.5);
}
.items-l img{
width: 100%;
display: block;
}
/* ============================================= MEDIA ====================================================================================== */
@media screen and (max-width: 1440px){
/* Navbar ================================================================================================================================= */
.nav {
width: 100px;
}
.nav a img{
width: 40px;
height: 40px;
}
/* About section =================================================================================================================================*/
.about-center{
min-width: 860px;
}
.avatar-img{
width: 350px;
margin: -175px auto 30px;
}
/* Experience & Education section =================================================================================================================================*/
#experience, #education{
background-size: calc(100% - 100px) 100%;
}
/* Utility classes =================================================================================================================================*/
.items-wrap{
grid-gap: 20px;
}
}
@media screen and (max-width: 1280px){
/* Tech section =================================================================================================================================*/
.tech-progressBar{
margin-top: 10px;
}
/* Footer =================================================================================================================================*/
.footer-icons a img{
width: 30px;
height: 30px;
}
/* Utility classes =================================================================================================================================*/
.items-wrap{
margin: 60px 0 60px 100px;
}
}
@media screen and (max-width: 1100px){
 /* About section =================================================================================================================================*/
.about-center {
min-width: 700px;
}
}
@media screen and (max-width: 1024px){
/* Custom cursor ===============================================================================================================================*/
.cursor, .cursor-follower{
display: none;
}
/* New nav ===================================================================================================================================*/
.nav{
padding-top: 80px;
transform: translateX(-100%);
transition: transform 0.5s ease-in;
}
.nav a{
padding: 15px 0;
overflow-y: hidden;
}
.nav a img{
width: 35px;
height: 35px;
}
.nav-active{
transform: translateX(0);
}
.nav-burger{
position: fixed;
z-index: 5;
top: 15px;
left: 25px;
width: 50px;
height: 50px;
flex-direction: column;
padding: 15.5px 12.5px;
align-items: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50%;
background: var(--dark-color);
}
.toggle .burger-line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .burger-line2{
opacity: 0;
}
.toggle .burger-line3{
transform: rotate(45deg) translate(-5px,-6px);
}
.burger-line{
width: 25px;
height: 3px;
background-color: var(--accent-color);
transition: all 0.3s ease;
border-radius: 10px;
}
/* About section =====================================================================================================================================*/
#about{
padding: 250px 0;
}
.about-center {
min-width: 800px;
}
.social-icons {
flex-direction: row;
justify-content: center;
margin: auto;
}
.social-icons img {
width: 35px;
margin: 0 10px;
}
#social-icons-default{
display: none;
}
#social-icons-mobile{
display: flex;
position: absolute;
left: 0;
right: 0;
bottom: -100px;
}
.name{
right: 30px;
}
.btn{
width: 200px;
height: 60px;
bottom: -190px;
}
/* Tech section =====================================================================================================================================*/
#items-wrap-tech{
grid-gap: 30px;
}
/* Experience & Education section =================================================================================================================================*/
#experience, #education {
background-size: 100% 100%;
}
.experience-wrap{
width: 100%;
}
.experience-description {
margin-left: 10%;
}
.experience-description-right{
margin-left: 0;
}
/* Certificate section =====================================================================================================================================*/
#items-wrap-certificate{
grid-template-columns: 1fr 1fr;
}
/* Utility classes =============================================================================================================================*/
section{
padding: 50px 0;
}
.items-wrap {
grid-template-columns: 1fr 1fr 1fr;
margin: 60px 0 60px 0;
}
.text-lg {
font-size: 30px;
}
.text-project{
font-size: 3.9vw;
}
.items-m{
height: 29vw;
}
.items-m:hover{
transform: scale(1);
}
.github-link{
width: 5vw;
height: 5vw;
}
}
@media screen and (max-width: 850px){
/* About section =====================================================================================================================================*/
.about-center {
min-width: 700px;
}
/* Tech section =====================================================================================================================================*/
#items-wrap-tech{
grid-template-columns: 1fr 1fr;
}
}
@media screen and (max-width: 768px){
/* About section =====================================================================================================================================*/
.avatar-img{
width: 300px;
margin: -150px auto 30px;
}
.btn{
width: 250px;
}
.nav a{
padding: 10px 0;
}
/* Utility classes =============================================================================================================================*/
.text-xl{
font-size: 40px;
}
.github-link{
bottom: 10px;
right: 10px;
}
}
@media screen and (max-width: 720px){
/* About section =====================================================================================================================================*/
.about-center {
min-width: 600px;
}
}
@media screen and (max-width: 640px){
/* About section =====================================================================================================================================*/
.about-center {
min-width: 500px;
}
.about-headline{
line-height: 32px;
}
.name {
display: none;
}
.name-phone{
display: block;
text-align: center;
margin-bottom: 20px;
color: var(--accent-color);
}
.btn{
font-size: 20px;
height: 60px;
}
/* Experience section =============================================================================================================================*/
.experience-wrap{
margin: 30px auto 40px;
}
.experience-block-bottom{
padding: 0 0 0 20px;
}
.experience-block-border{
padding: 0 20px 0 0;
}
.experience-description{
margin-left: 0;
}
/* Certificate section =====================================================================================================================================*/
#items-wrap-certificate{
grid-template-columns: 1fr;
}
/* Utility classes =============================================================================================================================*/
.text-sm{
font-size: 16px;
}
.text-project{
font-size: 5.8vw;
}
.items-wrap{
grid-template-columns: 1fr 1fr;
}
.items-m {
height: 48vw;
}
.github-link{
width: 7vw;
height: 7vw;
}
}
@media screen and (max-width: 540px){
/* About section =====================================================================================================================================*/
.about-center{
min-width: 420px;
}
/* Tech section =====================================================================================================================================*/
#items-wrap-tech{
grid-template-columns: 1fr;
grid-gap: 20px;
}
/* Utility classes =============================================================================================================================*/
.text-lg {
font-size: 25px;
}
}
@media screen and (max-width: 425px){
/* About section =============================================================================================================================*/
#about{
padding: 200px 0;
}
.about-center {
min-width: 350px;
}
.about-headline {
line-height: 20px;
}
.avatar-img{
width: 250px;
margin: -125px auto 30px;
}
#social-icons-mobile{
bottom: -70px;
}
.btn{
bottom: -140px;
}
.nav{
padding-top: 20px;
}
.nav a img{
width: 30px;
height: 30px;
}
/* Experience section =============================================================================================================================*/
.experience-wrap{
grid-template-columns: 1fr;
}
#experience-grid-bottom-right, #education-grid-bottom-right{
padding: 20px 0 0 20px;
}
#experience-grid-top-left, #education-grid-top-left{
padding-bottom: 0px;
}
.experience-headline, .experience-date, .experience-description{
color: var(--accent-color);
}
.experience-headline {
margin-top: -6px;
}
.experience-block-border{
padding: 0 0 0 20px;
text-align: left;
border-right: 0;
border-left: 2px solid var(--accent-color);
}
.experience-block-bottom{
border-left: 2px solid var(--accent-color);
}
.experience-dot{
top: 20px;
}
.experience-dot-top{
left: -11px;
right: auto;
top: 0 !important;
}
/* Utility classes =============================================================================================================================*/
.text-xl {
font-size: 30px;
}
.text-md {
font-size: 20px;
}
}
@media screen and (max-width: 375px){
/* About section =============================================================================================================================*/
.about-center {
min-width: 310px;
}
.avatar-img{
width: 200px;
margin: -100px auto 30px;
}
}
@media screen and (max-width: 360px){
/* About section =============================================================================================================================*/
.nav a{
padding: 5px;
}
}
@media screen and (max-width: 320px){
/* About section =============================================================================================================================*/
.about-center {
min-width: 300px;
}
/* Utility classes =============================================================================================================================*/
.items-wrap{
grid-template-columns: 1fr;
}
.items-m{
height: 100vw;
}
.text-project{
font-size: 12vw;
}
.github-link{
width: 15vw;
height: 15vw;
}
}
